/.vs
/out
Makefile
documentation/
*.a
.kdev*
*.log
*.dat
*.swp
*.m
*.pdf
*.asv
*.cbp
*.vcx*
*.sln
*.*~
*.zip
*.json
*.sty
*.gz
*.xml
*.sic

..gitignore.un~
.gitignore~
refman*
CMakeFiles/
CMakeCache.txt
goat*.lib
goat*.exe
bin/
build/
debug/
release/
*sic*/
lib/

DartConfiguration.tcl
examples/lenses/testbox.cpp
examples/usptest/usp_compress_old.cpp
todo

/.gitignore~
/RelWithDebInfo
Release/*
release/*
Debug/*
debug/*
*.cmake
!cmake/
!cmake/FindFFTW.cmake
/latex/xmldoc.aux
/latex/xmldoc.toc
/latex/xmldoc.synctex.gz
/latex/xmldoc.out
/..gitignore.un~
/.gitignore~
