/.vs
/out
Makefile
documentation/
*.cmake
*.txt
*.dat
*.log
*.tlog
*.vc*
*.html
*.tex
*.m
*.js
CMakeFiles/
x64/
release/
debug/
*.txt~
/documentation/html/search/all_13.js
/tinyxml2/sic/DartConfiguration.tcl
/tinyxml2/tinyxml2.sln
/goat.sln
