/.vs
/out
Makefile
documentation/
*.cmake
*.kdev*
*.log
*.dat
*.swp
*.m
*.pdf
*.json
*.asv
*.cbp
*.vcx*
*.sln
*.*~
..gitignore.un~
.gitignore~

CMakeFiles/
CMakeCache.txt
goat*
build/
debug/
release/
*sic*/
lib/

DartConfiguration.tcl
examples/lenses/testbox.cpp
examples/usptest/usp_compress_old.cpp
todo

/.gitignore~
